<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Android 傳輸 V2 裝置偵測器</string>
	<key>CFBundleExecutable</key>
	<string>AndroidTransferV2DeviceAgent</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.mtpbridge.DeviceInsertionAgentV2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Android 傳輸 V2 裝置偵測器</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.0</string>
	<key>CFBundleVersion</key>
	<string>22</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>MTPBridgePackageID</key>
	<string>0.7.0-device-launch-r1</string>
</dict>
</plist>
